* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #202327;
  font-family: "Ubuntu", sans-serif;
}

header {
  height: 10vh;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}

.container {
  padding: 0 2.5rem;
  margin-bottom: 2rem;
}

.container .form-title {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.container .form-title span {
  color: #a81f1f;
  font-size: 0.8rem;

  display: flex;
  align-items: center;
}

.container .form-title h2 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #ffffff;

  margin-bottom: 3.7rem;
}

form {
  margin: 0 auto;
  max-width: 24rem;
}

form input,
form textarea {
  width: 24rem;
  padding: 0.8rem 1rem;

  border: 1px solid rgba(255, 255, 255, 0.12);
  border-radius: 0.2rem;
  background-color: #373a3e;

  margin-bottom: 1.8rem;
  color: rgba(255, 255, 255, 0.9);
}

form input:hover,
form input:focus,
form textarea:hover,
form textarea:focus {
  border: 1px solid #7e2121;
  outline: 0;
}

form input::placeholder {
  color: rgba(255, 255, 255, 0.3);
}

form .input-container {
  display: flex;
  justify-content: space-between;
}

form .input-container input {
  width: 10rem;
}

form button {
  width: 24rem;
  background-color: #7e2121c7;
  border: none;
  border-radius: 0.2rem;
  padding: 1rem 0;
  text-align: center;

  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

form button:hover {
  background-color: #7e2121;
  transition: 0.3s;
}

form .form-text {
  margin-top: 2rem;
  text-align: center;

  font-size: 1rem;
  font-weight: 400;
  color: #ffffff;
}

form .form-text h5 {
  margin-bottom: 0.6rem;
  font-weight: 400;
}

form .form-text span {
  color: #a81f1f;
}

/* Modal */

.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.line {
  margin: 0 auto;
  margin-bottom: 2.5rem;
  width: 20rem;
  border: 0.5px solid rgba(255, 255, 255, 0.3);
}

.modal-title {
  display: flex;
  flex-direction: column;
  color: white;
  margin-bottom: 2rem;
}

.modal-title h4 {
  font-weight: 400;
}

.modal-title span {
  font-weight: 600;
}

.modal-overlay {
  background-color: rgba(217, 217, 217, 0.1);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  max-width: 30rem;
  max-height: 28rem;
  background-color: #202327;
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
}

/* .modal-content form {
  margin: 1rem 0;
} */
